@import "../../../libs/bootstrap/less/variables";
@import "../../../styles/colors";

.glx-user-info {
	.avatar {
		margin-bottom: 20px;
	}
	.glx-editable-field {
		display: inline-block;
	}
	.user-name{
		padding-bottom: 20px;
	}
}