<div class="row">
	<div class="col-md-3 col-sm-3 col-xs-3">
		<img src="images/fake_companies/full/1.jpg" class="img-responsive" alt="Responsive image" ng-click="changeAvatar()">
	</div>
	<div class="col-md-8 col-sm-8 col-xs-8">
		<div class="row">
			<div class="col-md-12 col-sm-12 col-xs-12 user-name">
				<div class="glx-editable-field"
					 glx-model="userInfo.first_name"
					 glx-on-change="updateFirstName()"
					 glx-editable="userInfo.actions.update"></div>
				<div class="glx-editable-field"
					 glx-model="userInfo.last_name"
					 glx-on-change="updateLastName()"
					 glx-editable="userInfo.actions.update"></div>
			</div>
		</div>
		{{userInfo}}
	</div>
</div>


