<div class="sidebar-wrapper text-center">
    <ul class="nav sidebar-nav">
        <li class="menu-item"
            ng-repeat="item in currentUser.menu_items"
            ng-init="menuItem=getMenuItem(item)"
            ng-show="menuItem && menuItem.label"
            ng-class="{active: checkActive(menuItem.link)}">

            <a href ng-click="goTo(menuItem.link)" class="menu-item-label">
                <span ng-class="menuItem.classes"></span>
                {{menuItem.label|glxLocalize}}
            </a>

        </li>
    </ul>
</div>