glx-menu-side {
  display: block;

  .sidebar-header {
    width: 100%;
    margin-bottom: 5px;
  }
  .sidebar-brand{
    padding: 5px;
  }
  .bublik-logo {
    width: 120px;
  }
  .menu-item.active {
    .glyphicon:before {
      color: @brand-primary;
    }
  }
  .glyphicon:before {
    padding-right: 5px;
    color: black;
  }
  .menu-item-label {
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: middle;
  }
}