glx-menu-side {
  display: block;
  background-color: @panel-success-heading-bg;
  padding-top: 25px;
  padding-bottom: 25px;

  .sidebar-header {
    width: 100%;
    margin-bottom: 5px;
  }
  .sidebar-brand{
    padding: 5px;
  }
  .menu-item.active {
    .glyphicon:before {
      color: @brand-primary;
    }
  }
  .glyphicon {
    display: block;
    font-size: 40px;
    padding-right: 5px;
    color: @gray-dark;
  }
  .menu-item-label {
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: middle;
  }
}