<div class="sidebar-wrapper">
    <div class="sidebar-header">
        <a href="#" class="sidebar-brand"><img class="bublik-logo" src="imgs/bub_dark.png"/></a>
    </div>
    <ul class="nav sidebar-nav">
        <li class="menu-item" ng-repeat="item in currentUser.menu_items" ng-init="menuItem=getMenuItem(item)" ng-show="menuItem && menuItem.label" ng-class="{active: checkActive(menuItem.link)}">
            <a href ng-click="goTo(menuItem.link)" class="menu-item-label {{menuItem.classes}}">{{menuItem.label|glxLocalize}}</a>
        </li>
    </ul>
</div>