<h1>{{"widget.topOfCompanies.mainHeader"|localize}}</h1>
<hr>
<div class="btn-group">
    <label class="btn btn-primary" ng-model="topLevel" btn-radio="'city'">{{"widget.topOfCompanies.topLevel.city"|localize}}</label>
    <label class="btn btn-primary" ng-model="topLevel" btn-radio="'country'">{{"widget.topOfCompanies.topLevel.country"|localize}}</label>
    <label class="btn btn-primary" ng-model="topLevel" btn-radio="'world'">{{"widget.topOfCompanies.topLevel.world"|localize}}</label>
</div>
<hr>
<div>
    <div infinite-scroll="puging()" infinite-scroll-distance="3"
         infinite-scroll-disabled="topOfCompanies.loading||!topOfCompanies.hasMore">
        <div ng-repeat="item in topOfCompanies.items">
            <div class="row clearfix">
                <div class="glx-top-item" top-item="item"></div>
            </div>
            <hr>
        </div>
    </div>
    <span ng-show="topOfCompanies.loading" us-spinner></span>


</div>