<!--Header-->
<div class="glx-topmenu"></div>
<div class="glx-header"></div>
<!--Content-->
<div class="container bs-docs-container">
    <div class="row">
        <!--Left column-->
        <div class="col-md-9" role="main"></div>
        <!--Rigth column-->
        <div class="col-md-3">

            <div class="row">
                <div class="glx-rigth-menu"></div>
            </div>

            <div class="row">
                <div class="glx-widget-pack"></div>
            </div>

        </div>
    </div>
</div>