@import "../../../styles/colors";
@import "../../../libs/bootstrap/less/variables";

.glx-bublik {
	.user-name {
		font-size: @font-size-h3;
	}

	.section-head{
		font-size: @font-size-h4;
		padding-left: 7px;
		font-weight: bold;
	}
}