<!--Header-->
<div class="glx-header"></div>
<div class="glx-topmenu"></div>
<!--Content-->
<div class="container bs-docs-container">
	<div class="row">
		<!--Left column-->
		<div ng-hide="isResourceLoading()" class="col-md-9 col-sm-9 col-xs-9 widget-container container" role="main" ng-view></div>
		<span ng-show="isResourceLoading()" us-spinner></span>
		<!--Rigth column-->
		<!--<div class="col-md-3">

			<div class="row" ng-hide="isResourceLoading()">
				<div class="glx-rigth-menu"></div>
			</div>

			<div class="row">
				<div class="glx-widget-pack"></div>
			</div>

		</div>-->
	</div>
	<div class="glx-user-alerts"></div>
</div>