<button ng-show="glxSocialActions.follow"
        class="btn btn-default btn-follow center-block"
        ng-click="glxOnFollow()">
    <span class="glyphicon glyphicon-thumbs-up"></span>{{'widget.userInfo.social.actions.follow'|glxLocalize}}
</button>
<button ng-show="glxSocialActions.unfollow"
        class="btn btn-default btn-unfollow center-block"
        ng-click="glxOnUnfollow()">
    <span class="glyphicon glyphicon-thumbs-down"></span>{{'widget.userInfo.social.actions.unfollow'|glxLocalize}}
</button>