@import "../../../styles/prefixes";
@import "../../../styles/colors";

.glx-editable-field{
	margin: 4px;
	.edit-me{
		padding: 5px;
		border: 1px groove transparent;
		.border-radius(3px);
		.transition(300ms linear border-color);

		&:hover{
			border-color: @blackColor;
		}
	}
}