@import "../../../libs/bootstrap/less/variables";

.glx-rigth-menu{
  li {

    color: darken(@brand-primary, 20%);
    :hover{
      border-left: 1px solid @brand-primary;
    }
    a{
      padding-left: @font-size-base * 2;
    }
  }

  li.active a{
    color: #0B0B3B;
    border-left: 2px solid @brand-primary;
    font-weight: bold;
  }
}