<form name="registrationForm" novalidate ng-submit="registration()">
	<fieldset>
		<legend>{{"widget.userRegistration.mainHeader"|localize}}</legend>


		<!--Email-->
		<div class="row">
			<div class="col-md-12">
				<label>{{"widget.userRegistration.fields.login.label"|localize}}</label>
			</div>
		</div>

		<div class="row">
			<div class="col-md-11 col-sm-11 col-xs-11">
				<input type="email"
					   placeholder="{{'widget.userRegistration.fields.login.label'|localize}}"
					   name="email"
					   ng-model="email"
					   class="form-control"
					   glx-ensure-unique="{{email}}" required />
			</div>
			<div class="col-md-1 col-sm-1 col-xs-1">
				<span class="glyphicon glyphicon-remove invalid-ico"
					  ng-show="registrationForm.email.$dirty && registrationForm.email.$invalid"></span>
				<span class="glyphicon glyphicon-ok valid-ico"
					  ng-show="registrationForm.email.$dirty && registrationForm.email.$valid"></span>
			</div>
		</div>

		<div class="row">
			<div class="error-container col-md-12 col-sm-12 col-xs-12"
				 ng-show="registrationForm.email.$dirty && registrationForm.email.$invalid">
				<span ng-show="registrationForm.email.$error.required">
					{{"widget.userRegistration.fields.login.emptyFieldError"|localize}}
				</span>
				<span ng-show="registrationForm.email.$error.email">
					{{"widget.userRegistration.fields.login.incorrectEmailError"|localize}}
				</span>
				<span ng-show="registrationForm.email.$error.unique">
					{{"widget.userRegistration.fields.login.alreadyExistError"|localize}}
				</span>
			</div>
		</div>

		<!--First Name-->
		<div class="row">
			<div class="col-md-12">
				<label>{{"widget.userRegistration.fields.firstName.label"|localize}}</label>
			</div>
		</div>

		<div class="row">
			<div class="col-md-11 col-sm-11 col-xs-11">
				<input type="text"
					   placeholder="{{'widget.userRegistration.fields.firstName.label'|localize}}"
					   name="firstName"
					   ng-model="firstName"
					   ng-minlength=1
					   ng-maxlength=50
					   class="form-control" required />
			</div>
			<div class="col-md-1 col-sm-1 col-xs-1">
				<span class="glyphicon glyphicon-remove invalid-ico"
					  ng-show="registrationForm.firstName.$dirty && registrationForm.firstName.$invalid"></span>
				<span class="glyphicon glyphicon-ok valid-ico"
					  ng-show="registrationForm.firstName.$dirty && registrationForm.firstName.$valid"></span>
			</div>
		</div>

		<div class="row">
			<div class="error-container col-md-12 col-sm-12 col-xs-12"
				 ng-show="registrationForm.firstName.$dirty && registrationForm.firstName.$invalid">
				<span ng-show="registrationForm.firstName.$error.required">
					{{"widget.userRegistration.fields.firstName.emptyFieldError"|localize}}
				</span>
				<span ng-show="registrationForm.firstName.$error.maxlength">
					{{"widget.userRegistration.fields.firstName.tooLongError"|localize}}
				</span>
			</div>
		</div>

		<!--Last Name-->
		<div class="row">
			<div class="col-md-12">
				<label>{{"widget.userRegistration.fields.lastName.label"|localize}}</label>
			</div>
		</div>

		<div class="row">
			<div class="col-md-11 col-sm-11 col-xs-11">
				<input type="text"
					   placeholder="{{'widget.userRegistration.fields.lastName.label'|localize}}"
					   name="lastName"
					   ng-model="lastName"
					   ng-minlength=1
					   ng-maxlength=50
					   class="form-control" required />
			</div>
			<div class="col-md-1 col-sm-1 col-xs-1">
				<span class="glyphicon glyphicon-remove invalid-ico"
					  ng-show="registrationForm.lastName.$dirty && registrationForm.lastName.$invalid"></span>
				<span class="glyphicon glyphicon-ok valid-ico"
					  ng-show="registrationForm.lastName.$dirty && registrationForm.lastName.$valid"></span>
			</div>
		</div>

		<div class="row">
			<div class="error-container col-md-12 col-sm-12 col-xs-12"
				 ng-show="registrationForm.lastName.$dirty && registrationForm.lastName.$invalid">
				<span ng-show="registrationForm.lastName.$error.required">
					{{"widget.userRegistration.fields.lastName.emptyFieldError"|localize}}
				</span>
				<span ng-show="registrationForm.lastName.$error.maxlength">
					{{"widget.userRegistration.fields.lastName.tooLongError"|localize}}
				</span>
			</div>
		</div>

		<!--Password-->
		<div class="row">
			<div class="col-md-12">
				<label>{{"widget.userRegistration.fields.password.passwordLabel"|localize}}</label>
			</div>
		</div>

		<div class="row">
			<div class="col-md-11 col-sm-11 col-xs-11">
				<input type="password"
					   placeholder="{{'widget.userRegistration.fields.password.passwordLabel'|localize}}"
					   name="password"
					   ng-model="password"
					   ng-minlength=6
					   ng-maxlength=255
					   class="form-control" required />
			</div>
			<div class="col-md-1 col-sm-1 col-xs-1">
				<span class="glyphicon glyphicon-remove invalid-ico"
					  ng-show="registrationForm.password.$dirty && registrationForm.password.$invalid"></span>
				<span class="glyphicon glyphicon-ok valid-ico"
					  ng-show="registrationForm.password.$dirty && registrationForm.password.$valid"></span>
			</div>
		</div>


		<div class="row">
			<div class="error-container col-md-12 col-sm-12 col-xs-12"
				 ng-show="registrationForm.password.$dirty && registrationForm.password.$invalid">
				<span ng-show="registrationForm.password.$error.required">
					{{"widget.userRegistration.fields.password.emptyFieldError"|localize}}
				</span>
				<span ng-show="registrationForm.password.$error.maxlength">
					{{"widget.userRegistration.fields.password.tooLongPassword"|localize}}
				</span>
				<span ng-show="registrationForm.password.$error.minlength">
					{{"widget.userRegistration.fields.password.tooShortPassword"|localize}}
				</span>
			</div>
		</div>

		<!--Password confirmation-->
		<div class="row">
			<div class="col-md-12">
				<label>{{"widget.userRegistration.fields.password.confirmLabel"|localize}}</label>
			</div>
		</div>

		<div class="row">
			<div class="col-md-11 col-sm-11 col-xs-11">
				<input type="password"
					   placeholder="{{'widget.userRegistration.fields.password.confirmLabel'|localize}}"
					   name="confirmPassword"
					   ng-model="confirmPassword"
					   ng-minlength=6
					   ng-maxlength=255
					   class="form-control"
					   pw-check="{{password}}" required />
			</div>
			<div class="col-md-1 col-sm-1 col-xs-1">
				<span class="glyphicon glyphicon-remove invalid-ico"
					  ng-show="registrationForm.confirmPassword.$dirty && registrationForm.confirmPassword.$invalid"></span>
				<span class="glyphicon glyphicon-ok valid-ico"
					  ng-show="registrationForm.confirmPassword.$dirty && registrationForm.confirmPassword.$valid"></span>
			</div>
		</div>

		<div class="row">
			<div class="error-container col-md-12 col-sm-12 col-xs-12"
				 ng-show="registrationForm.confirmPassword.$dirty && registrationForm.confirmPassword.$invalid">
				<span ng-show="registrationForm.confirmPassword.$error.pwmatch">
					{{"widget.userRegistration.fields.password.incorrectConfirmError"|localize}}
				</span>
			</div>
		</div>

		<hr>

		<!--Submit button-->
		<div class="row">
			<div class="col-md-2">
				<button type="submit" class="btn btn-default"
						ng-disabled="registrationForm.$invalid">
					{{"widget.userRegistration.fields.submitButton.caption"|localize}}
				</button>
			</div>
		</div>

	</fieldset>
</form>